@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../libs/fonts/Lato/Lato-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    src: url('../libs/fonts/Lato/Lato-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../libs/fonts/Lato/Lato-Bold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url('../libs/fonts/Lato/Lato-Black.ttf') format('truetype');
  }